* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    color: #333333
}

button {
    background: none;
    border: none;
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

header .logo {
    width: 45px;
}

header .img-button {
    width: 30px;
    background: none;
    cursor: pointer;
}

main {
    padding: 25px;

}

main .list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .pokemon-card {
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

main .pokemon-card:hover {
    transform: scale(1.05);
}

/* =======================================TYPES========================================*/
main .grass-type:hover {
    background-color: rgb(5, 128, 5);
    color: white
}

main .fire-type:hover {
    background-color: rgb(177, 12, 0);
    color: white
}

main .water-type:hover {
    background-color: rgb(9, 19, 160);
    color: white
}

main .bug-type:hover {
    background-color: rgb(101, 150, 22);
    color: white
}

main .pokemon-card .pokemon-name {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid #333333;
}

main .pokemon-card:hover .pokemon-name{
    border: 1px solid #fff
}

main .pokemon-card .pokemon-name span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .pokemon-card .gif {
    width: 90px;
    height: 90px;
}

main .pokemon-card .types {
    display: flex;
    gap: 15px;
}

main .pokemon-card .type {
    padding: 8px;
    border-radius: 10px;
}

.grass {
    background-color: rgb(64, 202, 10);
}

.fire {
    background-color: rgba(194, 38, 38, 0.904);
}

.water {
    background-color: rgb(50, 90, 221);
}

.bug {
    background-color: rgb(159, 219, 48);
}

.poison {
    background-color: rgb(196, 52, 196);
}

.flying {
    background-color: rgb(189, 185, 185);
}

.main .poke-info {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

.container#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.poke-foto {
    width: 300px;
    height: 300px;
}

main .open-popup {
    font-size: 16px;
}

main .open-popup:hover {
    cursor: pointer;
    color: white
}

.bxs-x-circle {
    position: relative;
    font-size: 2rem;
    padding: 10px;
    color: white
}

.bxs-x-circle:hover {
    cursor: pointer;
}

h3 {
    font-weight: 400;
    text-align: center;
    color:white
}

.pokemon-name-popup {
    color: white;
    font-size: 25px;
}

.data-container {
    text-align: center;
    font-size: 14px;
    color: white
}

.types-weaknesses {
    justify-content: space-evenly;
    display: flex;
    gap: 15px;
}

.weak-fire {
    color: rgb(224, 75, 75);
}

.weak-psychic {
    color: rgb(255, 0, 170);
}

.weak-flying {
    color: rgb(189, 179, 179);
}

.weak-ice {
    color: rgb(81, 168, 218);
}

.weak-water{
    color: rgb(50, 90, 221);
}

.weak-ground{
    color: rgb(187, 158, 64);
}

.weak-rock{
    color: rgb(255, 187, 0)
}

.weak-grass{
    color: rgb(64, 202, 10)
}

.weak-eletric{
    color: yellow
}

#popup-bulbasaur {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 80%;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*=======================BACKGROUND===================*/

#popup-bulbasaur {
    background: linear-gradient(181deg,#4fdb0e,#8d00ff);
    background-size: 400% 400%;

    -webkit-animation: grass-poison 6s ease infinite;
    -moz-animation: grass-poison 6s ease infinite;
    -o-animation: grass-poison 6s ease infinite;
    animation: grass-poison 6s ease infinite;
}

@-webkit-keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#popup-bulbasaur.bulbasaur {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}


/*=====================================IVYSAUR==============================================*/

#popup-ivysaur {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 80%;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*=======================BACKGROUND===================*/

#popup-ivysaur {
    background: linear-gradient(181deg,#4fdb0e,#8d00ff);
    background-size: 400% 400%;

    -webkit-animation: grass-poison 6s ease infinite;
    -moz-animation: grass-poison 6s ease infinite;
    -o-animation: grass-poison 6s ease infinite;
    animation: grass-poison 6s ease infinite;
}

@-webkit-keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#popup-ivysaur.ivysaur {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*=====================================VENUSAUR==============================================*/

#popup-venusaur {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 80%;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*=======================BACKGROUND===================*/

#popup-venusaur {
    background: linear-gradient(181deg,#4fdb0e,#8d00ff);
    background-size: 400% 400%;

    -webkit-animation: grass-poison 6s ease infinite;
    -moz-animation: grass-poison 6s ease infinite;
    -o-animation: grass-poison 6s ease infinite;
    animation: grass-poison 6s ease infinite;
}

@-webkit-keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes grass-poison {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#popup-venusaur.venusaur {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*=====================================CHARMANDER==============================================*/

#popup-charmander {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 80%;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*=======================BACKGROUND===================*/

#popup-charmander {
    background: linear-gradient(181deg, #e11010, #f77a00);
    background-size: 400% 400%;

    -webkit-animation: fire 11s ease infinite;
    -moz-animation: fire 11s ease infinite;
    -o-animation: fire 11s ease infinite;
    animation: fire 11s ease infinite;
}

@-webkit-keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#popup-charmander.charmander {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*=====================================CHARMELEON==============================================*/

#popup-charmeleon {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 80%;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*=======================BACKGROUND===================*/

#popup-charmeleon {
    background: linear-gradient(181deg, #e11010, #f77a00);
    background-size: 400% 400%;

    -webkit-animation: fire 11s ease infinite;
    -moz-animation: fire 11s ease infinite;
    -o-animation: fire 11s ease infinite;
    animation: fire 11s ease infinite;
}

@-webkit-keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#popup-charmeleon.charmeleon {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*=====================================CHARIZARD==============================================*/

#popup-charizard {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 80%;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*=======================BACKGROUND===================*/

#popup-charizard {
    background: linear-gradient(181deg, #e11010, #f77a00);
    background-size: 400% 400%;

    -webkit-animation: fire 11s ease infinite;
    -moz-animation: fire 11s ease infinite;
    -o-animation: fire 11s ease infinite;
    animation: fire 11s ease infinite;
}

@-webkit-keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#popup-charizard.charizard {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*=====================================CHARIZARD==============================================*/

#popup-squirtle {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 80%;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*=======================BACKGROUND===================*/

#popup-squirtle {
    background: linear-gradient(181deg, #104ce1, #00d4f7);
    background-size: 400% 400%;

    -webkit-animation: water 11s ease infinite;
    -moz-animation: water 11s ease infinite;
    -o-animation: water 11s ease infinite;
    animation: water 11s ease infinite;
}

@-webkit-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#popup-squirtle.squirtle {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*=====================================WARTORTLE==============================================*/

#popup-wartortle {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 80%;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*=======================BACKGROUND===================*/

#popup-wartortle {
    background: linear-gradient(181deg, #104ce1, #00d4f7);
    background-size: 400% 400%;

    -webkit-animation: water 11s ease infinite;
    -moz-animation: water 11s ease infinite;
    -o-animation: water 11s ease infinite;
    animation: water 11s ease infinite;
}

@-webkit-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#popup-wartortle.wartortle {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*=====================================BLASTOISE==============================================*/

#popup-blastoise {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 80%;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*=======================BACKGROUND===================*/

#popup-blastoise {
    background: linear-gradient(181deg, #104ce1, #00d4f7);
    background-size: 400% 400%;

    -webkit-animation: water 11s ease infinite;
    -moz-animation: water 11s ease infinite;
    -o-animation: water 11s ease infinite;
    animation: water 11s ease infinite;
}

@-webkit-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#popup-blastoise.blastoise {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*=====================================CATERPIE==============================================*/

#popup-caterpie {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 80%;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*=======================BACKGROUND===================*/

#popup-caterpie {
    background: linear-gradient(181deg, #9bcc02, #beee00);
    background-size: 400% 400%;

    -webkit-animation: water 11s ease infinite;
    -moz-animation: water 11s ease infinite;
    -o-animation: water 11s ease infinite;
    animation: water 11s ease infinite;
}

@-webkit-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes water {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#popup-caterpie.caterpie {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
